<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>
	<body>
		{% block content %}
		<div class="container mt-5 mb-1">
		<form action="#" method="post">
			<h1>Enter Student Control Number:</h1>
			<p><input type="text" name="numz" class="form-control" id="exampleInputWord1" aria-describedby="wordHelp" placeholder="Enter word (e.g. aaababbba)"/></p>
			<p><input type="submit" value="submit" class="btn btn-primary" /></p>
		</form>
		</div>
		{% endblock %}
		
	</body>
</html>